<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>商品详情</title>

<link href="../../css/fruit.css" rel="stylesheet" type="text/css">
<link href="../../css/fruit_good_info.css" rel="stylesheet" type="text/css">

<script src="../../js/jquery-2.0.0.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/fruit.js"></script>

<script type="text/javascript">
$(function(){

});
</script>

</head>
<body>
<div>
	<div id="head">
		<span id="sys_name"><a href="/fruit/index.html">水果批发市场综合应用系统</a></span>
		<span id="login_logon">
			<a href="#" id="login"></a>
			<a href="#" id="logon"></a>
			<a href="#" id="username"></a>
			<a href="#" id="logout"></a>
		</span>
	</div>
	<br/>
	<hr style="margin-top:0px" />
	
	<div id="good_info">
		<div id="good_photo_and_buy">
			<table>
				<tr>
					<td>
						<div id="good_photo_area">
							<img id="good_photo"/>
						</div>
					</td>
					<td>
						<div id="buy">
							<span><a id="add_num"><img src=""></a></span>
							<input type="text" id="buy_num" />
							<span><a id="subtract_num"><img src=""></a></span>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>