<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册</title>
<script src="../../js/jquery-2.0.0.min.js"></script>

<script type="text/javascript">
	$(function(){
		
		
		
		//提交
		$('#submit').click(function(){
			
			var register_data = {
				user_name : $('#user_name').val(),
				pwd : $('#pwd').val(),
				phone : $('#phone').val()
			};
			
			console.log(JSON.stringify(register_data));
				
			$.ajax({
				url : '/fruit/user/register.do',
				data : JSON.stringify(register_data),
				type : 'post',
				dataType : 'json',
				contentType : 'application/json',
				success : function(data){
					console.log(data);
				}
			});
		});
		
	});
</script>

</head>
<body>
<form id="register_form">
	<label>姓名</label>
	<input type="text" id="user_name"/>
	
	<label>密码</label>
	<input type="password" id="pwd"/>
	
	<!-- <label>密码</label>
	<input type="password" id="pwd_confirm"/> -->
	
	<label>电话</label>
	<input type="phone" id="phone"/>
	
	<input type="checkbox" id="remember_me"/>
	<label>remember me</label>
	
	<input type="button" id="submit" value="提交"/>
</form>
</body>
</html>