<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册</title>
<script src="../../js/jquery-2.0.0.min.js"></script>
<script src="../../js/jquery.md5.js"></script>
<script src="../../js/fruit.js"></script>

<script type="text/javascript">
	$(function(){
		
		$('#register').click(function(){
			
			var username = $('#user_name').val();
			var pwd = $('#pwd').val();
			var pwd_confirm = $('#pwd_confirm').val();
			var phone = $('#phone').val();
			var sessionId = $('#sessionId').val();
			var passCode = $('#passCodeInput').val();
			
			if(pwd != pwd_confirm){
				alert('两次密码不一致！');
				return false;
			}
			
			var data = {
				user_name : username,
				pwd : $.md5(pwd),
				phone : phone,
				sessionId : sessionId,
				passCode : passCode
			};
			
			$.ajax({
				url : '/fruit/user/register.do',
				data : JSON.stringify(data),
				type : 'post',
				dataType : 'json',
				contentType : 'application/json',
				success : function(res){
					if(res.code == '000004'){
						alert('注册成功');
						window.location.href = '/fruit/view/user/login.html';
					}else{
						alert(res.msg);
					}
				}
			});
		});
		
	});
</script>

</head>
<body>

	<input id='sessionId' type="hidden"/>

	<label>姓名</label>
	<input type="text" id="user_name"/>
	
	<label>密码</label>
	<input type="password" id="pwd"/>
	
	<label>确认密码</label>
	<input type="password" id="pwd_confirm"/>
	
	<label>电话</label>
	<input type="phone" id="phone"/>
	
	<label>验证码</label>
	<img id="passCode"/>
	<input id="passCodeInput" type="text"/>
	
	<input type="checkbox" id="remember_me"/>
	<label>remember me</label>
	
	<input type="button" id="register" value="注册"/>
</body>
</html>