<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>注册</title>

<link href="../../css/fruit.css" rel="stylesheet" type="text/css">

<script src="../../js/jquery-2.0.0.min.js"></script>
<script src="../../js/jquery.md5.js"></script>
<script src="../../js/fruit.js"></script>

<script type="text/javascript">
	$(function(){
		
		loadVerifyCode();
		
		bindVerifyCodeInput();
		
		checkVerifyCode();
		
		$('#register').click(function(){
			
			var username = $('#username').val();
			var pwd = $('#pwd').val();
			var pwd_confirm = $('#pwd_confirm').val();
			var phone = $('#phone').val();
			var sessionId = $('#sessionId').val();
			var passCode = $('#passCodeInput').val();
			
			if(pwd != pwd_confirm){
				alert('两次密码不一致！');
				return false;
			}
			
			var data = {
				username : username,
				pwd : $.md5(pwd),
				phone : phone,
				sessionId : sessionId,
				passCode : passCode
			};
			
			$.ajax({
				url : '/fruit/user/register.do',
				data : JSON.stringify(data),
				type : 'post',
				dataType : 'json',
				contentType : 'application/json',
				success : function(res){
					if(res.code == '000004'){
						alert('注册成功');
						window.location.href = '/fruit/view/user/login.html';
					}else{
						alert(res.msg);
					}
				}
			});
		});
		
	});
</script>

</head>
<body>

	<input id='sessionId' type="hidden"/>
	
		<table id="registerTable">
		<tr>
			<td><label>姓名</label></td>
			<td><input type="text" id="username"/></td>
		</tr>
		<tr>
			<td><label>密码</label></td>
			<td><input type="password" id="pwd"/></td>
		</tr>
		<tr>
			<td><label>确认密码</label></td>
			<td><input type="password" id="pwd_confirm"/></td>
		</tr>
		<tr>
			<td><label>电话</label></td>
			<td><input type="text" id="phone"/></td>
		</tr>
		<tr>
			<td><label>验证码</label></td>
			<td><img id='passCode'/> </td>
		</tr>
		<tr>
			<td></td>
			<td><input id='passCodeInput' type="text"/></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="button" id="register" value="注册"/></td>
		</tr>
	</table>
</body>
</html>