<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>添加卖家</title>

<link href="../../css/fruit_add_seller.css" rel="stylesheet" type="text/css">
<link href="../../css/easyui.css" rel="stylesheet" type="text/css">

<script src="../../js/jquery-2.0.0.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/jquery.easyui.min.js"></script>
<script src="../../js/jquery.md5.js"></script>
<script src="../../js/fruit.js"></script>


<script type="text/javascript">
	$(function(){
		
		var res = post('/fruit/seller/getAllSeller.do');
		
		$('#sellerName').combobox({    
		    url:'',    
		    valueField:'userid',    
		    textField:'username',
		    data : res.sellers
		}); 
		
		$('#addStore').click(function(){
			var store_name = $('#store_name').val();
			var user_id = $('#sellerName').combobox('getValue');
			var contact = $('#contact').val();
			var contact_phone = $('#contact_phone').val();
			var address = $('#address').val();
			
			var data = {
					store_name : store_name,
					seller_id : user_id,
					contact : contact,
					contact_phone : contact_phone,
					address : address,
			}
			
			res = post('/fruit/manager/addStore.do', data);
			if(res != undefined){
				if(res.code == '000004'){
					alert(res.msg);
					window.location.href = "/fruit/view/manager/fruit_manage_store.html";
				}else{
					alert(res.msg);
				}
			}
		});
	});
</script>

</head>
<body>
<div>
	<input id='sessionId' type="hidden"/>

	<table id="addStoreTable">
		<tr>
			<td><label>店铺名称</label></td>
			<td><label>卖家姓名</label></td>
			<td><label>地址</label></td>
			<td><label>操作</label></td>
		</tr>
		<tr>
			<td><input type="text" id="store_name"/></td>
			<td><input id="sellerName"/></td>
			<td><input type="text" id="address"/></td>
			<td><input type="button" id="addStore" value="添加"/></td>
		</tr>
	</table>
</div>
</body>
</html>