#hot_fruits{display:inline;margin-right:0}
#hot_news{display:inline;margin-left:0}
#gong_gao{font-size:18px;}
#hot_news_list li a{font-size:18px;}
#hot_news span, a{font-size:20px;}
#fen_ge_xian{border:1px solid blue;}
#hot_area{height:600px;}
#foot{height:100px;}