<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>库存列表</title>

<link href="../../css/easyui.css" rel="stylesheet" type="text/css">
<link href="../../css/icon.css" rel="stylesheet" type="text/css">
<style type="text/css">
#stock_datagrid_area{margin-left:50px;}
</style>

<script src="../../js/jquery-2.0.0.min.js"></script>
<script src="../../js/jquery.easyui.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../js/fruit.js"></script>
<script type="text/javascript">
$(function(){
	$("#stock_datagrid").datagrid({
		title : "库存信息",
		columns : [[
		            {checkbox:true},
		            {field:'stock_id',hidden:'true'},
		            {field:'good_id',hidden:'true'},
		            {field:'good_name',title:'商品名称'},
		            {field:'value_unit',title:'计价单位'},
		            {field:'in_price',title:'进价'},
		            {field:'left_num',title:'剩余量'},
		            {field:'stock_in_time',title:'进货时间'},
		            {field:'is_on_shelf',title:'状态'}
		]],
		width:400,
		fitColumns:true,
		singleSelect:true,
		checkOnSelect:false,
		toolbar : "#toolbar"
	});
	
	var res = post('/fruit/seller/getStock.do', {token:$.cookie("token"), pageNum:1, pageCount:10});
	if(res.code == '000004'){
		for(var i in res.data){
			if(res.data[i].value_unit == "kilogram"){
				res.data[i].value_unit = "千克";
			}else if(res.data[i].value_unit == "number"){
				res.data[i].value_unit = "个";
			}else if(res.data[i].value_unit == "box"){
				res.data[i].value_unit = "箱";
			}else if(res.data[i].value_unit == "case"){
				res.data[i].value_unit = "框";
			}else if(res.data[i].value_unit == "bag"){
				res.data[i].value_unit = "袋";
			}
		}
		
		$("#stock_datagrid").datagrid('loadData', res.data);
	}
});

function shelfGood(){
	var row = $("#stock_datagrid").datagrid('getSelected');
	if(row.is_on_shelf == '已上架'){
		alert("商品已上架");
		return;
	}
	window.location.href = "/fruit/view/seller/fruit_shelf_good.html?good_id="+row.good_id;
}
</script>
</head>
<body>
<div id="stock_datagrid_area">
	<table id="stock_datagrid"></table>
	<div id="toolbar">
	        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="shelfGood()">上架</a> 
	</div>
</div>
</body>
</html>